<!-- Header Section -->
    <header class="bg-white shadow-md py-4 dark:bg-slate-700 dark:text-white">
        <nav class="container mx-auto px-4 flex justify-between items-center">
            <!-- Site Title/Logo -->
            <a href="/{{ site.active_lang }}/" class="text-2xl font-bold dark:text-white text-gray-900">
                {{ site.title }}
            </a>
            <!-- Navigation Links -->
            <ul class="flex space-x-6">
                <li><a href="{% if site.active_lang == site.default_lang %}/{% else %}/{{ site.active_lang }}/{% endif %}" class="text-gray-600 dark:text-white hover:text-blue-600 font-medium">Home</a></li>
                <li><a href="{% if site.active_lang == site.default_lang %}/blog/{% else %}/{{ site.active_lang }}/blog/{% endif %}" class="text-gray-600 dark:text-white hover:text-blue-600 font-medium">Blog</a></li>
                <li><a href="{% if site.active_lang == site.default_lang %}/about/{% else %}/{{ site.active_lang }}/about/{% endif %}" class="text-gray-600 dark:text-white hover:text-blue-600 font-medium">About</a></li>
                {% if site.github_username %}
                <li><a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener noreferrer" class="text-gray-600 hover:text-blue-600 font-medium">GitHub</a></li>
                {% endif %}
                <li>
                    {% include lang.html %}
                </li>
            </ul>
        </nav>
    </header>